<!-- Company details page -->

<h1><%= @place["name"] %></h1>

<h2>Travel Log Entries:</h2>

<ol>
  <% for entry in @entries %>
    <h3><%= entry["title"] %> </h3>
    <p>Date: <%= entry["event_date"] %> </p>
    <p>Description: <%= entry["description"] %> </p>
  <% end %>
</ol>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to all places</a>
</p>